
p {
  color: #1f5687;
  font-family: 'Annie Use Your Telescope';
  font-size: 20;
}
body {
  margin-left: 100;
  margin-right: 100;
}
#header {
  color: #1f5687;
  font-size: 50px;
  font-family: 'Annie Use Your Telescope';
  text-align: center;
  background-color: #b9daf7;
  border-bottom-style: groove;
  border-bottom-width: thin;
  border-bottom-color: #1f5687;
  height: 100;
  padding-left: 50;
  padding-right: 50;
  padding-bottom: 50;
}
.content {
  color: #1f5687;
  font-size: 25px;
  font-family: 'Annie Use Your Telescope';
  margin-top: 25;
}
.hobbies {
  color: #b71620;
  font-weight: bold;
 }
